
<ul>
	<% used_currentdate = "" %>
<% @information.each do |information| %>

	<% t = Time.now %>

	<% current_date = t.strftime('%d %b %y') %>

	<% if used_currentdate != current_date %>
		<h1><%= current_date %></h1>
	<% end %>

	<% used_currentdate = current_date %>

	<li style='list-style:none'><h2><span style='font-size:0.7em;color:#777'><%= information.created_at.to_s.to_time.strftime('%l:%m') %></span> <%= information.nugget %></h2></li>
<% end %>
</ul>
