<ul class='information_list'>
	<% used_currentdate = "" %>
	<% @information.each do |information| %>

		<% current_date = information.created_at.strftime('%d %b %y') %>
		<% if used_currentdate != current_date %>
			<h1><%= current_date %></h1>
		<% end %>
		<% used_currentdate = current_date %>
		<li>
			<h4>
				<span>
					<%= information.created_at.hour %>:
					<%= information.created_at.to_s.to_time.strftime('%M') %>
				</span> <%= information.nugget %>
			</h4>
		</li>
	<% end %>
</ul>
